In [3]:
import exporter as exp

def export_vehicle(type, network_path = '../../pop10k-eh4-qsim2-100it/output_network.xml.gz', chunk_size = 500, format = 'shp', parallel = True, export_mode=
"all"):
    vehicle = exp.Exporter(type, network_path)
    vehicle.export_agents(chunk_size=chunk_size, format=format, parallel=parallel)

NameError: name 'pd' is not defined

In [2]:
network_path = '../../pop10k-eh4-qsim2-100it/output_network.xml.gz'
agent = exp.Exporter("agent", network_path)
agent.export_agents(chunk_size=1, format='shp',parallel=False)

Network status:
path: ../../pop10k-eh4-qsim2-100it/output_network.xml.gz
links: 72485
nodes: 36047
network: 72485
Memory (kB): 7538.568
Loading: bus.json
Loading: car.json
Loading: funicular.json
Loading: subway.json
Loading: tram.json
Transport loading finished.
Agents in chunk 0 : 1
Vehicle ids: [None, '1']
Memory (kB): 28.661

,time,type,link,vehicle_id,delay,actType,coords_x,coords_y,person_id,facility,freespeed,capacity,oneway,x_from,y_from,x_to,y_to,coords_to,coords_from
0,25879.0,actend,47556,NaN,NaN,home,738177.213258,1.047215e+06,1,NaN,13.88888888888889,600.0,1,738211.6590769318,1047242.1476232153,738177.2132575902,1047214.581264908,"[-738177.2132575902, -1047214.581264908]","[-738177.2132575902, -1047214.581264908]"
2,25879.0,PersonEntersVehicle,NaN,1,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[nan, nan]","[nan, nan]"
3,25879.0,PersonEntersVehicle,NaN,1,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[nan, nan]","[nan, nan]"
1,25879.0,NaN,47556,NaN,NaN,NaN,NaN,NaN,1,NaN,13.88888888888889,600.0,1,738211.6590769318,1047242.1476232153,738177.2132575902,1047214.581264908,"[-738177.2132575902, -1047214.581264908]","[-738211.6590769318, -1047242.1476232153]"
5,26035.0,NaN,47557,1,NaN,NaN,NaN,NaN,1,NaN,13.88888888888889,600.0,1,738177.2132575902,1047214.581264908,738211.6590769318,1047242.1476232153,"[-738211.6590769318, -1047242.1476232153]","[-738177.2132575902, -1047214.581264908]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183,65657.0,NaN,47556,1,NaN,NaN,NaN,NaN,1,NaN,13.88888888888889,600.0,1,738211.6590769318,1047242.1476232153,738177.2132575902,1047214.581264908,"[-738177.2132575902, -1047214.581264908]","[-738211.6590769318, -1047242.1476232153]"
187,65660.0,actstart,47556,NaN,NaN,home,738177.213258,1.047215e+06,1,NaN,13.88888888888889,600.0,1,738211.6590769318,1047242.1476232153,738177.2132575902,1047214.581264908,"[-738177.2132575902, -1047214.581264908]","[-738177.2132575902, -1047214.581264908]"
185,65660.0,PersonLeavesVehicle,NaN,1,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[nan, nan]","[nan, nan]"
188,65660.0,PersonLeavesVehicle,NaN,1,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[nan, nan]","[nan, nan]"
186,65660.0,NaN,47556,NaN,NaN,NaN,NaN,NaN,1,NaN,13.88888888888889,600.0,1,738211.6590769318,1047242.1476232153,738177.2132575902,1047214.581264908,"[-738177.2132575902, -1047214.581264908]","[-738211.6590769318, -1047242.1476232153]"

,start,passengers,geometry,id,veh_type,vehicle_id,metatype
0,25879,AQAAAA==,"MULTIPOINT (-738211.659 -1047242.148, -738211....",1,car,veh_1_car,time_series
1,64699,AQAAAA==,"MULTIPOINT (-742950.129 -1047938.637, -742950....",1,car,veh_1_car,time_series

Chunk saved to: ./../output/matsim_vehicles_shp/chunks1/agent_sec_0.shp
Agents in chunk 1 : 1
Vehicle ids: [None, 'veh_14844_bus', 'veh_14100_bus', 'veh_16146_bus', 'veh_9135_bus']
Memory (kB): 61.211

,time,type,link,vehicle_id,delay,actType,coords_x,coords_y,person_id,facility,...,transitRoute,freespeed,capacity,oneway,x_from,y_from,x_to,y_to,coords_to,coords_from
0,29436.0,actend,6819,NaN,NaN,home,748313.107697,1.045710e+06,10,NaN,...,NaN,5.555555555555555,300.0,1,748313.1076974611,1045709.9947857022,748299.9981054483,1045715.550466921,"[-748313.1076974611, -1045709.9947857022]","[-748313.1076974611, -1045709.9947857022]"
1,29436.0,NaN,6819,NaN,NaN,NaN,NaN,NaN,10,NaN,...,NaN,5.555555555555555,300.0,1,748313.1076974611,1045709.9947857022,748299.9981054483,1045715.550466921,"[-748299.9981054483, -1045715.550466921]","[-748313.1076974611, -1045709.9947857022]"
4,30454.0,actstart,33038,NaN,NaN,pt interaction,748184.587441,1.046349e+06,10,NaN,...,NaN,13.88888888888889,19998.0,1,748184.8548889024,1046342.5320638358,748142.8139358618,1046341.641672644,"[-748184.5874410856, -1046349.1600524682]","[-748184.5874410856, -1046349.1600524682]"
5,30454.0,actend,33038,NaN,NaN,pt interaction,748184.587441,1.046349e+06,10,NaN,...,NaN,13.88888888888889,19998.0,1,748184.8548889024,1046342.5320638358,748142.8139358618,1046341.641672644,"[-748184.5874410856, -1046349.1600524682]","[-748184.5874410856, -1046349.1600524682]"
2,30454.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[nan, nan]","[nan, nan]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
304,63478.0,NaN,79838,NaN,NaN,NaN,NaN,NaN,10,NaN,...,NaN,22.22222222222222,1500.0,1,748616.2131285254,1045879.3332461189,748718.1234486125,1045859.1523308018,"[-748718.1234486125, -1045859.1523308018]","[-748616.2131285254, -1045879.3332461189]"
306,63478.0,NaN,79838,NaN,NaN,NaN,NaN,NaN,10,NaN,...,NaN,22.22222222222222,1500.0,1,748616.2131285254,1045879.3332461189,748718.1234486125,1045859.1523308018,"[-748718.1234486125, -1045859.1523308018]","[-748616.2131285254, -1045879.3332461189]"
310,64088.0,actstart,6819,NaN,NaN,home,748313.107697,1.045710e+06,10,NaN,...,NaN,5.555555555555555,300.0,1,748313.1076974611,1045709.9947857022,748299.9981054483,1045715.550466921,"[-748313.1076974611, -1045709.9947857022]","[-748313.1076974611, -1045709.9947857022]"
308,64088.0,NaN,6819,NaN,NaN,NaN,NaN,NaN,10,NaN,...,NaN,5.555555555555555,300.0,1,748313.1076974611,1045709.9947857022,748299.9981054483,1045715.550466921,"[-748299.9981054483, -1045715.550466921]","[-748313.1076974611, -1045709.9947857022]"
309,64088.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[nan, nan]","[nan, nan]"

Empty GeoDataFrame
Columns: [start, passengers, geometry, id, veh_type, vehicle_id, metatype]
Index: []

ValueError: Cannot write empty DataFrame to file.

In [ ]:

export_vehicle("car")

In [ ]:
import network as net
network = net.Network()

network.set_path('../../pop10k-eh4-qsim2-100it/output_network.xml.gz')
network.load_nodes()
network.load_links()
network.join_network()
network.status()
display(network.net.head())
network.export_shp("./../output/network.shp")

## Funiculars

In [ ]:

fun = exp.Exporter("funicular",'../../pop10k-eh4-qsim2-100it/output_network.xml.gz')
fun.export_agents(chunk_size=500, format='shp',parallel=True)
del fun

## Buses

In [ ]:
bus = exp.Exporter("bus",'../../pop10k-eh4-qsim2-100it/output_network.xml.gz')
bus.export_agents(chunk_size=500, format='shp',parallel=True)
del bus

## Cars

In [ ]:
car = exp.Exporter("car",'../../pop10k-eh4-qsim2-100it/output_network.xml.gz')
car.export_agents(chunk_size=500, format='shp',parallel=True)
del car

## Subways

In [ ]:
subway = exp.Exporter("subway",'../../pop10k-eh4-qsim2-100it/output_network.xml.gz')
subway.export_agents(chunk_size=500, format='shp',parallel=True) #2:30
del subway

## Trams

In [ ]:
tram = exp.Exporter("tram",'../../pop10k-eh4-qsim2-100it/output_network.xml.gz')
tram.export_agents(chunk_size=1000, format='shp',parallel=True)
del tram